@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {

    cursor:  crosshair;
    cursor: url(../img/pricel.png) 0 0, crosshair;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;   
width: 100%;
height: 100%;
overflow:hidden;
background-color: black;
margin:0;
}

.lol{
    position: fixed;
    top: 0px;
    width: 80%;
    left:10%;
    overflow:hidden;
    height: 100%;
}
#fo{ 
    background-image: url('../img/fon4.gif');
    animation: fo 1s linear infinite;
    }
#fo1{
background-image: url('../img/fon3.gif');
    animation: fo 3s linear infinite;
}
#fo2{
background-image: url('../img/fon2.gif');
    animation: fo 5s linear infinite;
}
#fo3{
background-image: url('../img/fon5.gif');
    animation: fo 6s linear infinite;
}
#fo4{
background-image: url('../img/fon.gif');
    animation: fo 6s linear infinite;
}
@keyframes fo{
0% {background-position: 0% 0%;}
100% {background-position: 0% 1006px;}
}
@keyframes fo{
0% {background-position: 0% 0%;}
100% {background-position: 0% 1006px;}
}
#zagolovok {
font-family: 'Anton', sans-serif;
letter-spacing: 0.1em;
font-size: 40px;
color: rgb(255, 255, 0);
margin: 0;
padding: 10px 0px 10px 0px;
text-align: center;

}
#menu{
position: fixed;
top: 0px;
left: 10%;
background: linear-gradient(-45deg, transparent 56px, rgba(113, 198, 224, 0.5) 0) right, linear-gradient(45deg, transparent 56px, rgba(66, 128, 243, 0.5) 0) left;
background-size: 50% 100%;
background-repeat: no-repeat;
width: 80%;
}
#myCanvas{
display:block;
position: absolute;
width: 80%;
height: 100%;
left:10%;
}
.icon{
    width: 40px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
 
}
#opt td{
    text-align: center;
}

.dead p{
    font-size: 36px;
    color: red;
    margin: 0;
}

.dead p:hover{
    color: rgb(255, 255, 255);
}

.dead h1{
    color: rgb(124, 2, 2)

}
#dead{
    display: block;
    position: fixed;
    top:50%;
    left:50%;
}
#plus p{
    color: rgb(0, 255, 221);
    font-size: 35px;
    margin: 0;

}
#plus{
    display: table;
    width: auto;
    background-color: rgba(66, 128, 243, 0.5);
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
}
#lol{
    position:fixed; 
    right:20px; top:85%; 
    color: blue;
     font-size: 30px;
}
#plus:hover{
  cursor: auto;
}

#set:hover{
    cursor: auto;
}
